# Linear Regression to Predict Student Performance

In [1]:
import matplotlib.pyplot as plt 
from matplotlib import gridspec
import seaborn as sns

import pandas as pd
import numpy as np

import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
students = pd.read_csv("StudentPerformanceFactors.csv")

##### Confusion tables

In [19]:
parent_invol_resource_access_crossed = pd.crosstab(students['Parental_Involvement'],students['Access_to_Resources'])
print(parent_invol_resource_access_crossed)

Access_to_Resources   High  Low  Medium
Parental_Involvement
High                   568  413     927
Low                    414  231     692
Medium                 993  669    1700

In [20]:
peer_influence_income_crossed = pd.crosstab(students['Peer_Influence'],students['Family_Income'])
print(peer_influence_income_crossed)

Family_Income   High   Low  Medium
Peer_Influence
Negative         251   577     549
Neutral          493  1038    1061
Positive         525  1057    1056

In [21]:
distance_motivation_crossed = pd.crosstab(students['Distance_from_Home'], students['Motivation_Level'])
print(distance_motivation_crossed)

Motivation_Level    High   Low  Medium
Distance_from_Home
Far                  142   185     331
Moderate             394   611     993
Near                 773  1125    1986

In [22]:
students = students.drop(columns=['Distance_from_Home', 'Peer_Influence', 'Parental_Involvement'])

In [23]:
students.sample(5)

,Hours_Studied,Attendance,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Gender,Exam_Score
4590,16,67,Medium,Yes,5,56,Low,Yes,1,Low,Medium,Public,2,No,College,Female,61
708,8,97,High,Yes,8,87,Medium,Yes,0,Medium,Medium,Public,2,Yes,High School,Male,67
5945,25,98,High,Yes,8,51,Medium,Yes,0,Medium,Medium,Private,2,No,College,Female,72
827,17,96,Medium,Yes,6,54,Medium,Yes,1,Medium,Medium,Private,4,No,High School,Male,69
3444,24,81,High,Yes,9,64,High,Yes,2,High,Low,Public,3,No,High School,Male,70

Since students who have medium/high parental involvement also have medium/high access to resources, both categories aren't necessary for the model and since access to resources matters more for our model, we have dropped parental involvement. Similarly, medium/high family income students have neutral/positive peer relationships and those with medium/high motivation levels live moderate/near school. Since there are associations between those two groups, we've chosen to kep family income and motivation levels as they variables that we're interested in.